
@{
    ViewData["Title"] = "History";
}

<h1>History</h1>
<div class="text-center">
    <h1 class="display-4">Welcome to Order History</h1>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Return to the previous Screen</a>
</div>