
@{
    ViewData["Title"] = "FailedSignIn";
}

<h1>FailedSignIn</h1>
<div>
    <p>You are not properly signed in. Please try again...</p>
</div>
<div>
    <a asp-controller="User" asp-action="LoggingIn">Log in to a user</a>
</div>

