@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Build a Pizza</h1>
</div>
<div>
    <a asp-controller = "User" asp-action="Place">Place Order</a>
</div>
<div>
    <a asp-controller = "User" asp-action="Recent">List your most recent order time and location</a>
</div>
<div>
    <a asp-controller="User" asp-action="LoggingIn">Log in to a user</a>
</div>
<div>
    <a asp-controller = "User" asp-action="History">Detail all orders</a>
</div>