@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <a asp-controller = "User" asp-action="Place">Place Order</a>
</div>
<div>
    <a asp-controller = "User" asp-action="Recent">List your most recent order time and location</a>
</div>
<div>
    <a asp-controller = "User" asp-action="History">Detail all orders</a>
</div>
@*<div>
    <a asp-action="Back">Go Back</a>
</div>*@
@*<div>
    <form asp-action="Register">
        <input type="radio" name="accountType" value="loginuser" checked>Log in as User<br>
        <input type="radio" name="accountType" value="loginstore">Log in as Store<br>
        <input type="radio" name="accountType" value="createuser" >Create a new User<br>
        <input type="radio" name="accountType" value="createstore">Create a new Store<br>
        <input type ="submit" value="Submit">
    </form>
</div>*@