@{
    ViewData["Title"] = "Choice";
}

<h1>Choice</h1>
<div class="text-center">
    <p>Welcome to your order menu.</p>
</div>
<div>
    <p>The amount of pizzas you have ordered are @TempData.Peek("PizzaAmount") pizzas.</p>
</div>
<div>
    <a asp-controller="Ordering" asp-action="Preset">Order a Preset Pizza</a>
</div>
<div>
    <a asp-controller="Ordering" asp-action="Custom">Order a Custom Pizza</a>
</div>
<div>
    <a asp-controller="Ordering" asp-action="Preview">View your Current Order</a>
</div>
<div>
    <a asp-controller="Ordering" asp-action="Submit">Submit your Order</a>
</div>
<div>
    <a asp-controller="User" asp-action="Place">Return to the Store Menu</a>
</div>