
@{
    ViewData["Title"] = "Preset";
}

<h1>Preset</h1>
<div>
    <p>Please choose which pizza you would like to add:</p>
</div>
<div>
    <form asp-controller="Ordering" asp-method="Post">
        <input type="Submit" value="Hawaiian" formaction="AddtoOrderH" />
        <input type="Submit" value="Canadian" formaction="AddtoOrderC" />
        <input type="Submit" value="American" formaction="AddtoOrderA" />
        <input type="Submit" value="Italian" formaction="AddtoOrderI" />
        <input type="Submit" value="BBQ" formaction="AddtoOrderB" />
    </form>
</div>

<div>
    <a asp-controller="Ordering" asp-action="return">Return to the Main Menu</a>
</div>